/* Estilos para el componente registro */
.registro{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 2%;
    /* border: solid 1px black; */
    row-gap: 4px;
    text-align: center;
    background-color: white;
    border-radius: 3%;
}


.contenedor{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 250, 250);

}